@model List<FinishedRepairsDTO>

<div class="text-center">
    <h2>Finished repairs:</h2>
</div>

<div class="text-center">
    <form method="get">
        <label for="name">Search by Vin:</label>
        <input type="text" id="vinNumber" name="vinNumber" value="@Context.Request.Query["vinNumber"]">
        <input type="submit" value="Search">
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>Vin number</th>
            <th>Current Car Mileage</th>
            <th>Date Created</th>
            <th>Date Finished</th>
            <th>Description</th>
            <th>Status</th>
            <th>Parts Changed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var repair in Model)
        {
            <tr>
                <td>@repair.VinNumber</td>
                <td>@repair.CurrCarMilleage</td>
                <td>@repair.DateCreated</td>
                @if(repair.DateFinished != String.Empty || repair.DateFinished != null)
                {
                    <td>@DateTime.Parse(repair.DateFinished).ToString("dd/MM/yyyy")</td>
                }
                else
                {
                    <td>@String.Empty</td>
                }
                <td>@repair.Description</td>
                <td>@repair.Status</td>
                <td>
                    @foreach (var part in repair.PartsChanged)
                    {
                        @:@part.Number - @part.Description<br />

                    }
                </td>
                <td><a asp-controller="Car" asp-action="ViewCar" asp-route-id="@repair.CarId" class="btn btn-success">View car</a></td>
            </tr>
        }
    </tbody>
</table>