@model List<MenuCardsViewModel>

<div class="container">
    <div class="row">
        @foreach (var card in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <img src="@Url.Content(card.ImagePath)" class="card-img-top card-image" alt="@card.ImageText">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a asp-controller="@card.ButtonController" asp-action="@card.ButtonAction" type="button">@card.ImageText</a>
                        </h5>
                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .row{
        background-color: lightgray;
        border: 1px solid black;
    }

    .card{
        border: 3px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
