@model ShopRepairsViewModel

<div> 
    <h2>Pending Repairs</h2>
</div>

<button onclick="toggleTable('pendingTable')">Show/Hide</button>
<table id="pendingTable" style="display: none">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Car Id</th>
            <th>Mileage</th>
            <th>Status</th>
            <th>Repair Shop Id</th>
            <th>Repair Shop Name</th>
            <th>Date Created</th>
            <th>Parts changed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var repair in Model.PendingRepairs)
        {
            <tr>
                <td>@repair.Id</td>
                <td>@repair.Description</td>
                <td>@repair.CarId</td>
                <td>@repair.currCarMilleage</td>
                <td>@repair.Status</td>
                <td>@repair.CarRepairShopId</td>
                <td>@repair.CarRepairShopName</td>
                <td>@repair.DateCreated</td>
                <td><button onclick="toggleParts(@repair.Id)">Show/Hide Parts Changed</button></td>
                <td><a asp-controller="RepairShop" asp-action="FinishRepair" asp-route-id="@repair.Id" type="button" class="btn btn-danger">Finish</a></td>
            </tr>

            <tbody id="parts-@repair.Id" style="display: none;">
                @foreach (var part in repair.PartsChanged)
                {
                <tr>
                    <td colspan="8"></td>
                    <td>@part.Number: @part.Description</td>
                </tr>
                }
            </tbody>
            

        }
    </tbody>
</table>

<h2>Finished Repairs</h2>
<button onclick="toggleTable('finishedTable')">Show/Hide</button>
<table id="finishedTable" style="display: none">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Car Id</th>
            <th>Mileage</th>
            <th>Status</th>
            <th>Repair Shop Id</th>
            <th>Repair Shop Name</th>
            <th>Date Created</th>
            <th>Date Finished</th>
            <th>Parts changed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var repair in Model.FinishedRepairs)
        {
            <tr>
                <td>@repair.Id</td>
                <td>@repair.Description</td>
                <td>@repair.CarId</td>
                <td>@repair.currCarMilleage</td>
                <td>@repair.Status</td>
                <td>@repair.CarRepairShopId</td>
                <td>@repair.CarRepairShopName</td>
                <td>@repair.DateCreated</td>
                <td>@repair.DateFinished</td>
                <td><button onclick="toggleParts(@repair.Id)">Show/Hide Parts Changed</button></td>
            </tr>

            <tbody id="parts-@repair.Id" style="display: none;">
                @foreach (var part in repair.PartsChanged)
                {
                <tr>
                    <td colspan="8"></td>
                    <td>@part.Number: @part.Description</td>
                </tr>
                }
            </tbody>
        }
    </tbody>
</table>

<script>
    function toggleTable(tableId) {
        var table = document.getElementById(tableId);
        if (table.style.display === "none") {
            table.style.display = "table";
        } else {
            table.style.display = "none";
        }
    }

    function toggleParts(repairId) {
        var parts = document.getElementById("parts-" + repairId);
        if (parts.style.display === "none") {
            parts.style.display = "table-row-group";
        } else {
            parts.style.display = "none";
        }
    }
</script>

