@using CarStory.Data.Models;
@using Microsoft.AspNetCore.Identity;
@model RepairShopDTO
@inject SignInManager<AppUser> SignInManager

<div class="shop-card">
    <h2>@Model.Name</h2>
    <p class="separator-line"></p>
    <div>Description: <b>@Model.Description</b></div>

    <div>Email: <b>@Model.Email</b></div>

    <div>Phone Number: <b>@Model.PhoneNumber</b></div>

    <div>Location: <b>@Model.Location</b></div>
    <p class="separator-line"></p>
    <div class="text-lg-end">
        @if (!SignInManager.IsSignedIn(User))
        {
            <a asp-controller="User" asp-action="Login" class="btn btn-primary">Pleace log in to leave a review</a>
        }
        else
        {
            <a asp-controller="RepairShop" asp-action="AddReview" asp-route-id="@Model.Id" class="btn btn-primary">Add Review</a>
        }
    </div>
</div>

@if(Model.ReviewCount == 0)
{
    <h2 class="reviews-title">No Reviews</h2>

    if (SignInManager.IsSignedIn(User))
    {
        <div id="message">
            <div style="font-family: 'lobster', cursive">
                <span>&middot;</span>Be the first to <a asp-controller="RepairShop" asp-action="AddReview" asp-route-id="@Model.Id">leave a Review</a>!<br />
            </div>
        </div>
    }
}
else
{
    <h2 class="reviews-title">Reviews</h2>

    <div class="reviews">

        @{
            int counter = 0;
        }
        @foreach (var review in Model.Reviews)
        {
            //review @(counter % 2 == 0 ? "right-aligned" : "left-aligned")
            //review @(i % 2 == 0 ? "even" : "odd")
            <div class="review @(counter % 2 == 0 ? "even" : "odd")">
                <div class="row">
                    <div class="col-md-6 text-left">@review.Username</div>
                    <div class="col-md-6 text-right">@review.DateCreated</div>
                </div>
                <p class="separator-line"></p>
                <p><b>@review.Description</b></p>
            </div>

            counter++;
        }
    </div>
}




<style>
    .shop-card {
        background-color: lightgreen; /* Green color */
        padding: 20px;
        margin-bottom: 20px;
        border: 5px solid black;
    }

        .shop-card h2 {
            font-size: 28px;
            margin-bottom: 10px;
            text-align: center;
        }

    .reviews-title {
        text-align: center;
        font-size: 24px;
    }

    .reviews {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .review {
        width: 60%;
        background-color: #f0f0f0; /* Light gray color for reviews */
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid black; /* Add black outline */
        position: relative; /* For positioning the separator line */
    }

    .separator-line {
        border-top: 2px solid black; /* Use border-top to create the line */
        margin: 10px 0; /* Add some margin for spacing */
    }

    .odd {
        margin-left: auto;
    }

    .even {
        margin-right: auto;
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

    #message {
        text-align: center;
        border: 3px solid black;
        background-color: rgba(144, 238, 144, 0.7);
        padding: 10px;
        margin-top: 20px;
        font-size: 40px
    }
</style>
