@using CarStory.Data.Models;
@using Microsoft.AspNetCore.Identity;
@model RepairShopDTO
@inject SignInManager<AppUser> SignInManager

<div class="shop-card">
    <h2>@Model.Name</h2>
    <p class="separator-line"></p>
    <div>Description: @Model.Description</div>

    <div>Email: @Model.Email</div>

    <div>Phone Number: @Model.PhoneNumber</div>

    <div>Location: @Model.Location</div>
    <p class="separator-line"></p>
    <div class="text-lg-end">
        @if (!SignInManager.IsSignedIn(User))
        {
            <a asp-controller="User" asp-action="Login" class="btn btn-primary">Pleace log in to leave a review</a>
        }
        else
        {
            <a asp-controller="RepairShop" asp-action="AddReview" asp-route-id="@Model.Id" class="btn btn-primary">Add Review</a>
        }
    </div>
</div>

<h2 class="reviews-title">Reviews</h2>

<div class="reviews">

    @{
        int counter = 0;
    }
   @foreach (var review in Model.Reviews)
    {
        //review @(counter % 2 == 0 ? "right-aligned" : "left-aligned")
        //review @(i % 2 == 0 ? "even" : "odd")
        <div class="review @(counter % 2 == 0 ? "even" : "odd")">
            <div class="row">
                <div class="col-md-6 text-left">@review.Username</div>
                <div class="col-md-6 text-right">@review.DateCreated</div>
            </div>
            <p class="separator-line"></p>
            <p>@review.Description</p>
        </div>

        counter++;
    }
</div>


<style>
    .shop-card {
        background-color: #8BC34A; /* Green color */
        padding: 20px;
        margin-bottom: 20px;
    }

        .shop-card h2 {
            font-size: 28px;
            margin-bottom: 10px;
            text-align: center;
        }

    .reviews-title {
        text-align: center;
        font-size: 24px;
    }

    .reviews {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .review {
        width: 60%;
        background-color: #f0f0f0; /* Light gray color for reviews */
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid black; /* Add black outline */
        position: relative; /* For positioning the separator line */
    }

    .separator-line {
        border-top: 2px solid black; /* Use border-top to create the line */
        margin: 10px 0; /* Add some margin for spacing */
    }

    .odd {
        margin-left: auto;
    }

    .even {
        margin-right: auto;
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
</style>
