@model IEnumerable<CarDTO>

<div class="text-center">
    <h2>My cars:</h2>
</div>

@if (Model.Count() == 0)
{
    <div class="text-center">
        <h3>Opps, you dont have any cars! Go <a asp-controller="Home" asp-action="Search">find</a> your car or go to repair shop to register one</h3>
    </div>
}

@foreach (var car in Model)
{

    <div id="car" + @car.Id></div>
    <table>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year Manufactured</th>
            <th>Mileage</th>
            <th>Next Repair</th>
            <th>Next Repair Info</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td>@car.Make</td>
            <td>@car.Model</td>
            <td>@car.YearManufactured.ToShortDateString()</td>
            <td>@car.Milleage</td>
            <td>@(car.NextRepair.HasValue ? car.NextRepair.Value.ToShortDateString() : "")</td>
            <td>@car.NextRepairInfo</td>
            <td>
                <a asp-controller="Car" asp-action="ViewCar" asp-route-id="@car.Id" class="btn btn-primary">Details</a>
            </td>
            <td>
                <a asp-controller="User" asp-action="DeleteCar" asp-route-id="@car.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>

}

