@model CarDTO
<div class="text-center">
    <h2>Car Details</h2>
</div>

<table>
    <tr>
        <th>Vin Number</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year Manufactured</th>
        <th>Mileage</th>
        <th>Next Repair</th>
        <th>Next Repair Info</th>
        <th></th>
    </tr>
    <tr>
        <td>@Model.VinNumber</td>
        <td>@Model.Make</td>
        <td>@Model.Model</td>
        <td>@Model.YearManufactured.ToShortDateString()</td>
        <td>@Model.Milleage</td>
        <td>@(Model.NextRepair.HasValue ? Model.NextRepair.Value.ToShortDateString() : "")</td>
        <td>@Model.NextRepairInfo</td>
        <td>
            @if (this.User.IsInRole("User"))
            {
                <a asp-controller="User" asp-action="AddCarToMyCar" asp-route-id="@Model.Id" class="btn btn-danger">Add to my cars</a>
            }
            else if (this.User.IsInRole("Ädmin") || this.User.IsInRole("Shop"))
            {
                <a asp-controller="Car" asp-action="AddRepair" asp-route-CarId="@Model.Id" asp-route-CarRepairShopId="@TempData["ShopId"]" class="btn btn-danger">Add repair</a>
            }

        </td>
    </tr>
</table>

<div class="text-center" style="margin: 20px">
    <h2>Repairs:</h2>
</div>

<div id="table-container">
@foreach (var repair in Model.repairs)
{
    if (User.IsInRole("Shop"))
    {
        if (repair.CarRepairShopId != TempData["ShopId"].ToString() && repair.Status == "Pending")
        {
            continue;
        }
        else
        {
                <table>
                <tr>
                    <th>Description</th>
                    <th>Mileage at Repair</th>
                    <th>Status</th>
                    <th>Car Repair Shop Name</th>
                    <th>Date Created</th>
                    <th>Date Finished</th>
                    <th>Parts changed</th>
                </tr>
                <tr>
                    <td>@repair.Description</td>
                    <td>@repair.currCarMilleage</td>
                    <td>@repair.Status</td>
                    <td>@repair.CarRepairShopName</td>
                    <td>@repair.DateCreated</td>
                    <td>@(repair.DateFinished != String.Empty ? repair.DateFinished : "")</td>
                        <td><button onclick="toggleParts(@repair.Id)" class="showHideButton">Show Parts Changed</button></td>
                </tr>

                <tbody id="parts-@repair.Id" style="display: none; width: auto;">
                    @foreach (var part in repair.PartsChanged)
                    {
                        <tr>
                            
                            <td>@part.Number: @part.Description</td>
                        </tr>
                    }
                </tbody>

            </table>
        }

    }else if (User.IsInRole("Admin"))
    {
        <table>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Car Id</th>
                <th>Mileage at Repair</th>
                <th>Status</th>
                <th>Car Repair Shop Id</th>
                <th>Car Repair Shop Name</th>
                <th>Date Created</th>
                <th>Date Finished</th>
                <th>Parts changed</th>
            </tr>
            <tr>
                <td>@repair.Id</td>
                <td>@repair.Description</td>
                <td>@repair.CarId</td>
                <td>@repair.currCarMilleage</td>
                <td>@repair.Status</td>
                <td>@repair.CarRepairShopId</td>
                <td>@repair.CarRepairShopName</td>
                <td>@repair.DateCreated</td>
                <td>@(repair.DateFinished != String.Empty ? repair.DateFinished : "")</td>
                    <td><button onclick="toggleParts(@repair.Id)">Show Parts Changed</button></td>
            </tr>

            <tbody id="parts-@repair.Id" style="display: none;">
                @foreach (var part in repair.PartsChanged)
                {
                    <tr>
                        <td>@part.Number: @part.Description</td>
                    </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        if(repair.Status == "Pending")
        {
            continue;
        }

        <table>
            <tr>
                <th>Description</th>
                <th>Mileage at Repair</th>
                <th>Status</th>
                <th>Car Repair Shop Name</th>
                <th>Date Created</th>
                <th>Date Finished</th>
                <th>Parts changed</th>
            </tr>
            <tr>
                <td>@repair.Description</td>
                <td>@repair.currCarMilleage</td>
                <td>@repair.Status</td>
                <td>@repair.CarRepairShopName</td>
                <td>@repair.DateCreated</td>
                <td>@(repair.DateFinished != String.Empty ? repair.DateFinished : "")</td>
                    <td><button onclick="toggleParts(@repair.Id)">Show Parts Changed</button></td>
            </tr>

            <tbody id="parts-@repair.Id" style="display: none;">
                @foreach (var part in repair.PartsChanged)
                {
                    <tr>
                        <td>@part.Number: @part.Description</td>
                    </tr>
                }
            </tbody>

        </table>
    }

}
</div>

<script type="text/javascript">
    function toggleParts(repairId) {
        var buttontext = document.getElementsByClassName("showHideButton")[0];

        console.log(buttontext);
        var parts = document.getElementById("parts-" + repairId);
        if (parts.style.display === "none") {
            parts.style.display = "table-row-group";
        } else {
            parts.style.display = "none";
        }

        if (parts.style.display === "none") {
            buttontext.textContent = "Show Parts Changed";
        } else {
            buttontext.textContent = "Hide Parts CHanged";
        }
    }
</script>



@if(this.User.IsInRole("Admin")){
    <a asp-controller="Admin" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
}
