@model RepairDTO

<div class="text-center">
    <h2>Repair Details</h2>
</div>

<table>
    <tr>
        <th>Description</th>
        <th>CarId</th>
        <th>currCarMilleage</th>
        <th>Status</th>
        <th>CarRepairShopId</th>
        <th>CarRepairShopName</th>
        <th>DateCreated</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>@Model.Description</td>
        <td>@Model.CarId</td>
        <td>@Model.currCarMilleage</td>
        <td>@Model.Status</td>
        <td>@Model.CarRepairShopId</td>
        <td>@Model.CarRepairShopName</td>
        <td>@Model.DateCreated</td>
            @if (this.User.Identity.Name == Model.CarRepairShopName)
            {
                <td><a asp-controller="RepairShop" asp-action="FinishRepair" asp-route-id="@Model.Id" class="btn btn-success">Finish Repair</a></td>
            <td><a asp-controller="RepairShop" asp-action="EditRepair" asp-route-id="@Model.Id" class="btn btn-danger">Edit Repair</a></td>
        }
        else
        {
            <td></td>
            <td></td>
        }

    </tr>
</table>

<div class="text-center">
    <h2>Parts Details</h2>
</div>

<table>
    @if (Model.PartsChanged != null)
    {
        
        <tr>
            <th>Parts Changed:</th>
            <th>Parts Number:</th>
            <th>Parts Description:</th>
            </tr>
        foreach (var part in Model.PartsChanged)
        {
            <tr>
                <td></td>
                <td>@part.Number</td>
                <td colspan="4">@part.Description</td>
            </tr>
        }
    }
 
</table>
